<header>
    <div class="header">
        <div class="header__inner">
        <div class="header__navigation">
            <button class="header__button">EN DE</button>
            <nav class="header__nav">
                <a class="header__nav_link" routerLink="">About me</a>
                <a class="header__nav_link" routerLink="">Skills</a>
                <a class="header__nav_link" routerLink="">Projects</a>
            </nav>
        </div>
        <div class="header__logo">
            <img src="#" alt="">
            <p class="header__logo_text">Logo</p>
        </div>
        </div>
    </div>
   
</header>