<div id="about" class="section_about_me">
  <div class="section_about_me__inner">
    <div class="section_about_me__wrapper">
      <div class="section_about_me__image">
        <img src="assets/about_me/about_me_image.svg" alt="Image of myself" />
      </div>

      <div class="section_about_me__info">
        <div class="section_about_me__overbox">
          <span class="section_about_me__overbox_headline">{{ 'about-me-section.sub-title' | translate }}</span>
        </div>
        <div class="section_about_me__infobox">
          <h2 class="section_about_me__headline">{{ 'about-me-section.main-title' | translate }}</h2>
          <div class="section_about_me__content_group">
            <p class="section_about_me__description">
              {{ 'about-me-section.intro-text' | translate }}
            </p>
            <div class="section_about_me__list">
              <div class="section_about_me__list_item">
                <img src="assets/about_me/location.svg" alt="Location" class="section_about_me__icon" />
                <p>{{ 'about-me-section.location-text' | translate }}</p>
              </div>
              <div class="section_about_me__list_item">
                <img src="assets/about_me/mindset.svg" alt="Mindset" class="section_about_me__icon" />
                <p>{{ 'about-me-section.mindset-text' | translate }}</p>
              </div>
              <div class="section_about_me__list_item">
                <img src="assets/about_me/checkmark.svg" alt="Check" class="section_about_me__icon" />
                <p>{{ 'about-me-section.puzzle-text' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>