<section class="contact" id="contact">
  <div class="contact__inner">
    <div class="contact__content">
      <span class="contact__subtitle">{{ 'contact-area.sub-title' | translate }}</span>
      <h2 class="contact__title" [innerHTML]="'contact-area.main-title' | translate"></h2>

      <div class="contact__info">
        <h3 class="contact__heading">{{ 'contact-area.info-heading' | translate }}</h3>
        <p class="contact__text">
          {{ 'contact-area.info-text' | translate }}
        </p>
        <p class="contact__text contact__text--bold" [innerHTML]="'contact-area.info-call-to-action' | translate">
        </p>
      </div>
    </div>

    <div class="contact__form-wrapper">
      @if (isSubmitted()) {
        <div class="modal-overlay">
          <div class="form__success-message">
            <h3 class="contact__heading">{{ 'contact-area.modal-success-title' | translate }}</h3>
            <p class="contact__text">{{ 'contact-area.modal-success-text' | translate }}</p>
          </div>
        </div>
      }

      <form class="form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="form__group">
          <label for="name" class="form__label">{{ 'contact-area.label-name' | translate }}</label>
          <input type="text" id="name" name="name" class="form__input" [placeholder]="'contact-area.placeholder-name' | translate" ngModel required #nameCtrl="ngModel">
          
          @if (nameCtrl.invalid && (nameCtrl.touched || contactForm.submitted)) {
            <span class="form__error">{{ 'contact-area.error-name' | translate }}</span>
          }
        </div>

        <div class="form__group">
          <label for="email" class="form__label">{{ 'contact-area.label-email' | translate }}</label>
          <input type="email" id="email" name="email" class="form__input" [placeholder]="'contact-area.placeholder-email' | translate" ngModel required email #emailCtrl="ngModel">
          
          @if (emailCtrl.invalid && (emailCtrl.touched || contactForm.submitted)) {
            <span class="form__error">{{ 'contact-area.error-email' | translate }}</span>
          }
        </div>

        <div class="form__group">
          <label for="message" class="form__label">{{ 'contact-area.label-message' | translate }}</label>
          <textarea id="message" name="message" class="form__input form__textarea" [placeholder]="'contact-area.placeholder-message' | translate" ngModel required #messageCtrl="ngModel"></textarea>
          
          @if (messageCtrl.invalid && (messageCtrl.touched || contactForm.submitted)) {
            <span class="form__error">{{ 'contact-area.error-message' | translate }}</span>
          }
        </div>

        <div class="form__policy-group">
          <div class="form__checkbox-layout">
            <label class="form__checkbox-wrapper">
              <input type="checkbox" name="policy" class="form__checkbox" ngModel required #policyCtrl="ngModel">
              <span class="form__checkmark"></span>
            </label>
            <span class="form__policy-text" [innerHTML]="'contact-area.policy-agreement' | translate"></span>
          </div>

          @if (policyCtrl.invalid && (policyCtrl.touched || contactForm.submitted)) {
            <span class="form__error form__error--policy">{{ 'contact-area.error-policy' | translate }}</span>
          }
        </div>

        <div class="form__actions">
          <button type="submit" class="form__submit" [disabled]="contactForm.invalid">{{ 'contact-area.submit-btn' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</section>