<div class="section_projects">
  <div class="section_projects__inner">
    <div class="section_projects__content">
      <div class="section_projects__header">
        <span class="section_projects__overbox_headline">Portfolio</span>
        <h2 class="section_projects__headline">Featured Projects</h2>
        <p class="section_projects__description">
          Explore a selection of my work here - Interact with projects to see my skills in action.
        </p>
      </div>

      <div class="section_projects__list">
        @for (project of projects; track project.title) {
          <div class="project_item" (click)="openProjectDialog(project)">
            <h3 class="project_item__title">{{ project.title }}</h3>
            <span class="project_item__tech">{{ project.tech.join(' | ') }}</span>
          </div>
        }
      </div>
    </div>
  </div>
</div>

@if (activeProject) {
  <app-featured-projects-dialog
    [project]="activeProject"
    (closeDialog)="closeProjectDialog()"
    (nextProject)="nextProject($event)"
  >
  </app-featured-projects-dialog>
}
