<div class="section_projects">
  <div class="section_projects__inner">
    <div class="section_projects__content">
      <div class="section_projects__header">
        <span class="section_projects__overbox_headline">Portfolio</span>
        <h2 class="section_projects__headline">Featured Projects</h2>
        <p class="section_projects__description">
          Explore a selection of my work here - Interact with projects to see my skills in action.
        </p>
      </div>
      <div class="section_projects__list">
        <div class="project_item">
          <h3 class="project_item__title">Join</h3>
          <span class="project_item__tech">Angular | TypeScript | HTML | CSS | Firebase</span>
        </div>
        <div class="project_item">
          <h3 class="project_item__title">El Pollo Loco</h3>
          <span class="project_item__tech">HTML | CSS | JavaScript</span>
        </div>
        <div class="project_item">
          <h3 class="project_item__title">DA Bubble</h3>
          <span class="project_item__tech">Angular | Firebase | TypeScript</span>
        </div>
      </div>
    </div>
  </div>
</div>
