<div class="section_skills">
  <div class="section_skills__inner">
    <div class="section_skills__wrapper">
      <div class="section_skills__info">
        <div class="section_skills__overbox">
          <span class="section_skills__overbox_headline">Technologies</span>
        </div>
        <div class="section_skills__infobox">
          <h2 class="section_skills__headline">Skill Set</h2>

          <div class="section_skills__content_group">
            <p class="section_skills__description">
              A short introduction of your skills. Highlight your experience of using different
              front-end technologies and emphasise your openness to learning and adapting to new
              technologies. Show how important it is for you to keep up with the rapid changes in
              web development.
            </p>

            <div class="section_skills__cta_box">
              <h3 class="section_skills__cta_headline">
                You need <span class="highlight">another skill?</span>
              </h3>
              <p class="section_skills__cta_text">
                Feel free to contact me. I look forward to expanding on my previous knowledge.
              </p>
              <button class="section_skills__button">Let's Talk</button>
            </div>
          </div>
        </div>
      </div>

      <div class="section_skills__grid_area">
        <div class="section_skills__grid">
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/html.svg" alt="HTML" />
            <span>HTML</span>
          </div>
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/css.svg" alt="CSS" />
            <span>CSS</span>
          </div>
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/javascript.svg" alt="JavaScript" />
            <span>JavaScript</span>
          </div>
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/material_design.svg" alt="Material Design" />
            <span>Material<br />Design</span>
          </div>

          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/typescript.svg" alt="TypeScript" />
            <span>TypeScript</span>
          </div>
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/angular.svg" alt="Angular" />
            <span>Angular</span>
          </div>
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/supabase.svg" alt="Supabase" />
            <span>Supabase</span>
          </div>
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/git.svg" alt="Git" />
            <span>Git</span>
          </div>

          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/rest-api.svg" alt="REST-API" />
            <span>REST-API</span>
          </div>
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/scrum.svg" alt="Scrum" />
            <span>Scrum</span>
          </div>
          
          <div class="skill_item">
            <img class="skill_icon" src="/assets/skill-icons/growth.svg" alt="Growth mindset" />
            <span>Growth<br />mindset</span>
            
            <div class="skill_tooltip">
              <span class="skill_tooltip-text">I have a special interest in learning</span>
              
              <div class="skill_tooltip-frameworks">
                <div class="framework">
                  <img src="/assets/skill-icons/react.svg" alt="React">
                  <span>React</span>
                </div>
                <div class="framework">
                  <img src="/assets/skill-icons/vue.svg" alt="Vue.js">
                  <span>Vue.js</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>