@font-face {
  font-family: "Fira Code";
  src: url("../public/assets/fonts/Fira_Code/static/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-primary: "Fira Code", monospace; 
  --hero-gradient: radial-gradient(ellipse at 85% 25%, #08463B 0%, #1C1C1C 60%);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

