<section class="hero">
    <div class="hero__inner">
    <div class="hero__about_me">
        <h2 class="hero__job">Fullstack Developer</h2>
        <h1 class="hero__name">Nico Leiteritz</h1>
        <div class="hero__buttons_wrapper">
            <button class="hero__button">Check my work</button>
            <button class="hero__button">Contact me</button>
        </div>
        <div class="hero__slider">
            <div class="hero__track">
                <div class="hero__text_group">
                    <span class="hero__text">Fullstack Developer</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Based in Munich</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Available for remote work</span>
                    <span class="hero__bullet">•</span>
                </div>
                <div class="hero__text_group">
                    <span class="hero__text">Fullstack Developer</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Based in Munich</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Available for remote work</span>
                    <span class="hero__bullet">•</span>
                </div>
                <div class="hero__text_group">
                    <span class="hero__text">Fullstack Developer</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Based in Munich</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Available for remote work</span>
                    <span class="hero__bullet">•</span>
                </div>
                <div class="hero__text_group">
                    <span class="hero__text">Fullstack Developer</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Based in Munich</span>
                    <span class="hero__bullet">•</span>
                    <span class="hero__text">Available for remote work</span>
                    <span class="hero__bullet">•</span>
                </div>
            </div>
        </div>
    </div>
 </div>
</section>
