<section class="hero">
  <div class="hero__inner">
    <div class="hero__side hero__side--left">
      <div class="hero__scroll-btn">
        <span class="hero__scroll-arrow">↓</span>
      </div>
      <div class="hero__line data-darkreader-ignore"></div>
    </div>

    <div class="hero__about_me">
      <h2 class="hero__job">{{ 'hero-section.job-title' | translate }}</h2>
      <h1 class="hero__name">Nico Leiteritz</h1>
      <div class="hero__buttons_wrapper">
        <a [routerLink]="['/']" fragment="projects" class="hero__button">
          {{ 'hero-section.btn-check-work' | translate }}
        </a>
        <a [routerLink]="['/']" fragment="contact" class="hero__button">
          {{ 'hero-section.btn-contact' | translate }}
        </a>
      </div>
    </div>

    <div class="hero__side hero__side--right">
      <a href="mailto:nico.leiteritz@email.com" class="hero__email">ndesk.ltrz@gmail.com</a>

      <div class="hero__socials">
        <a href="https://github.com" target="_blank" rel="noopener" class="hero__social-link">
          <img src="assets/hero-assets/Github.svg" alt="Github Icon" />
        </a>
        <a href="https://linkedin.com" target="_blank" rel="noopener" class="hero__social-link">
          <img src="assets/hero-assets/LinkedIn.svg" alt="LinkedIn Icon" />
        </a>
      </div>
      <div class="hero__line"></div>
    </div>
  </div>

  <div class="hero__slider">
  <div class="hero__track">
    @for (item of [1,2,3,4,5,6,7,8,9,10]; track item) {
      <div class="hero__text_group">
        <span class="hero__text">{{ 'hero-section.job-title' | translate }}</span>
        <span class="hero__bullet">•</span>
        <span class="hero__text">{{ 'hero-section.ticker-based' | translate }}</span>
        <span class="hero__bullet">•</span>
        <span class="hero__text">{{ 'hero-section.ticker-remote' | translate }}</span>
        <span class="hero__bullet">•</span>
      </div>
    }
  </div>
</div>
</section>
