<div class="section_about_me">
  <div class="section_about_me__inner">
    <div class="section_about_me__wrapper">
      <div class="section_about_me__image" #aboutImage [class.show-effect]="imageVisible()">
        <img src="/assets/about_me/about_me_image.svg" alt="Image of myself" />
      </div>

      <div class="section_about_me__info">
        <div class="section_about_me__overbox">
          <span class="section_about_me__overbox_headline">Who I Am</span>
        </div>
        <div class="section_about_me__infobox">
          <h2 class="section_about_me__headline">About me</h2>
          <div class="section_about_me__content_group">
            <p class="section_about_me__description">
              Hey there, I'm Lukas! Write some information about yourself that is IT related. Why
              are you passionate about coding? What is your source of inspiration for improving your
              programming skills?
            </p>
            <div class="section_about_me__list">
              <div class="section_about_me__list_item">
                <img
                  src="/assets/about_me/location.svg"
                  alt="Location"
                  class="section_about_me__icon"
                />
                <p>
                  Where are you based? Would you be open to working remotely or potentially
                  relocating?
                </p>
              </div>
              <div class="section_about_me__list_item">
                <img
                  src="/assets/about_me/mindset.svg"
                  alt="Mindset"
                  class="section_about_me__icon"
                />
                <p>
                  Show that you are open-minded. Are you enthusiastic about learning new
                  technologies and continually improving your skills?
                </p>
              </div>
              <div class="section_about_me__list_item">
                <img
                  src="/assets/about_me/checkmark.svg"
                  alt="Check"
                  class="section_about_me__icon"
                />
                <p>
                  A brief description of your problem-solving approach. Do you learn from each
                  challenge as you search for the most efficient or elegant solution?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
