<div id="about" class="section_about_me">
  <div class="section_about_me__inner">
    <div class="section_about_me__wrapper">
      <div class="section_about_me__image">
        <img src="assets/about_me/about_me_image.svg" alt="Image of myself" />
      </div>

      <div class="section_about_me__info">
        <div class="section_about_me__overbox">
          <span class="section_about_me__overbox_headline">Who I Am</span>
        </div>
        <div class="section_about_me__infobox">
          <h2 class="section_about_me__headline">About me</h2>
          <div class="section_about_me__content_group">
            <p class="section_about_me__description">
              Hi, I'm Nico Leiteritz! I love building clean, efficient software. Inspired by the
              rapid evolution of technology, I enjoy turning complex ideas into structured,
              user-friendly digital experiences.
            </p>
            <div class="section_about_me__list">
              <div class="section_about_me__list_item">
                <img
                  src="assets/about_me/location.svg"
                  alt="Location"
                  class="section_about_me__icon"
                />
                <p>
                  Based in Germany, I am open to both in-house office roles and remote
                  collaborations, or even relocating for the right opportunity.
                </p>
              </div>
              <div class="section_about_me__list_item">
                <img
                  src="assets/about_me/mindset.svg"
                  alt="Mindset"
                  class="section_about_me__icon"
                />
                <p>
                  I thrive on continuous learning, constantly mastering new frameworks to stay ahead
                  and write efficient, maintainable code.
                </p>
              </div>
              <div class="section_about_me__list_item">
                <img
                  src="assets/about_me/checkmark.svg"
                  alt="Check"
                  class="section_about_me__icon"
                />
                <p>
                  I view challenges as puzzles, always aiming for the most scalable and elegant
                  solution possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
